<%- include('../partials/head'); %>
<body>
    <%- logedIn ? include('../partials/navbarAuth') : include('../partials/navbarNoAuth'); %>
        <div class="body">
            <div class="textbox-content glass leaderboard leaderboard-head">
                <div class="item">
                <p class="left">Rank</p>
                <p class="middle">Username</p>
                <p class="right">Average<br> Score</p>
            </div>
            </div>
            <div class="textbox-content glass leaderboard">
                <div class="glass animated-box" style="--i:0;"></div>
                <div class="glass animated-box" style="--i:1;"></div>
                <div class="glass animated-box" style="--i:2;"></div>
                <% for (var i = 0; i < users.length; i++) { %>
                    <div class="item">
                        <p class="left">#<%= i + 1 %></p>
                        <p class="middle"><%= users[i].username %></p>
                        <p class="right"><%= users[i].averageScore %></p>
                    </div>
                <% } %>
            </div>
        </div>
        <!-- <div class="footer glass">Three</div> -->



    <!-- scripts -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module" src="scripts/main.js"></script>
    <script type="module" src="scripts/gameOver.js"></script>
</body>
</html>